@model Team11Project.Models.CampaignModel

@{
    ViewBag.Title = "Campaign Details";
}

<h2>Campaign Details</h2>

<div>
    <h4>Campaign Model</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CampaignGoal.GoalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignGoal.GoalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndCampaign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndCampaign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FundingExpenditures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FundingExpenditures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSubscriber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSubscriber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CVR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CampaignModelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
